{% assign oss = site.data.data.oss %}
{% if oss %}
<section class="section oss-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for contribution in oss.contributions %}
  <div class="item">

    <span class="project-title">
      {% if contribution.link %}
      <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
      {% else %}
      {{ contribution.title }}
      {% endif %}
    </span>

    {% if contribution.tagline %}
    - <span class="project-tagline">{{ contribution.tagline }}</span>
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}

</section>
<!--//section-->
{% endif %}

{% assign presentation = site.data.data.presentation %}
{% if presentation %}
<section class="section presentation-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ presentation.title }}
  </h2>

  {% if presentation.intro %}
  <div class="intro">
      <p>{{ presentation.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for presentation in presentation.assignments %}
    <div class="item">

      <span class="presentation-title">
        {% if presentation.link %}
        <a href="{{ presentation.link }}" target="_blank">{{ presentation.title }}</a>
        {% else %}
        {{ presentation.title }}
        {% endif %}
      </span>

      {% if presentation.tagline %}
      - <span class="presentation-tagline">{{ presentation.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
