{% assign presentation = site.data.data.presentation %}
{% if presentation %}
<section class="section presentation-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-commenting fa-4x"></i>
    </span>
    {{ presentation.title }}
  </h2>

  {% if presentation.intro %}
  <div class="intro">
      <p>{{ presentation.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in presentation.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
