{% assign presentation = site.data.data.presentation %}
{% if presentation %}
<section class="section presentation-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-commenting fa-2x"></i>
    </span>
    {{ presentation.title }}
  </h2>

  {% if presentation.intro %}
  <div class="intro">
    {{ presentation.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for presentation in presentation.papers %}
  <div class="item">
    {% if presentation.link %}
      <li><a href="{{ presentation.link }}">{{ presentation.title }}</a></li>
    {% else %}
      <li>{{ presentation.title }}</li>
    {% endif %}
    <div class="presentation-authors">{{ presentation.authors }}</div>
    <div class="presentation-conference">{{ presentation.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
